body  {
    margin: 0px;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;
}

a {
    color: #005ccf;
}

.entry {
    margin: 0px;
    padding: 0px;
    padding-bottom: 15px;
}

.title {
    font-weight: bold;
    color: #444444;
    margin: 0px;
}

.date {
    padding: 0px;
    margin: 0px;
    color: gray;
    padding-bottom: 4px;
}

.excerpt {
    }